<header class="site-header">
  <nav class="site-nav">
    <ul>
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages  %}
        {% if page.title and page.hide != true %}
          <li>
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  {% if site.theme_settings.header_text %}
    <div class="call-out" 
    style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
      {% if page.parent %}
        <h1 class="site-title">
          <a href="{{ site.baseurl }}/{{ page.parent }}">{{ page.parent }}</a>
        </h1>
      {% else %}
        <h1 class="site-title">
          <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
        </h1>
      {% endif %}
      <div class="divider"></div>
      <h1 class="title">{{ page.title }}</h1>
    </div>
  {% endif %}
</header>
