.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
  .icons {
    li {
      list-style-type: none;
      display: inline-block;
      margin:0 0.5em;
      a {
        font-size:2em;
        margin:0 0.25em 2em;
        color: $link-color;
      }
    }
  }
}
