article,
.comments {
  padding: 0 20% 50px;
  float: left;
  width: 100%;
}
article {
  .demo {
    text-align: center;
  }
  header {
    // margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9rem;
  }
  p {
    img {
      text-align:center;
      margin:0 auto;
    }
  }
}
header {
  .post-link {
    color: $feature-image-text-color;
    font-weight: 800;
  }
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .8);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    background-position:center center;
    margin-bottom: 0;
    padding: calc($padding-large / 2.8) $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
}
.center {
  text-align: center;
}